body {
	background: #F6F6F6;
	color: #444;
	font-family: "Montserrat", Helvetica, Arial, sans-serif;
}

em {
	font-weight: bold;
	font-style: normal;
}

.hidden {
	display: none;
}

.progress,
.well,
.list-group-item {
	background: rgba(0, 0, 0, 0.05);
}

.btn {
	border-radius: 1.5em;
	border-width: 3px;
}

.navbar {
	background: #2E2F41;
	border: 0;
	min-height: 60px;
	padding-top: 5px;
}
	.navbar-inverse .navbar-brand {
		color: #FFF;
		padding-left: 0;
	}

.page {
}

#app-container h1 {
	font-size: 2.0em;
}
	#app-container h2 {
		font-size: 1.5em;
	}

#aboutkah,
#howtoplay {
	background: rgba(0, 0, 0, 0.6);
	line-height: 1.5;
	padding: 150px 30px 20px;
	position: absolute;
		top: 0;
		left: 0;
	width: 100%;
	height: 100%;
	box-sizing: border-box;
}
	#aboutkah .holder,
	#howtoplay .holder {
		background: #00B6AD;
		color: #FFF;
		padding: 20px;
		max-width: 600px;
		margin: 0 auto;
		max-height: 100%;
		overflow: auto;
	}
	#aboutkah a,
	#howtoplay a {
		color: #005A55;
	}
	#aboutkah a:hover,
	#howtoplay a:hover {
	}
	#aboutkah a.btn,
	#howtoplay a.btn {
		color: #FFF;
	}

#playername {
}
	#txt_playername {
		background: #FFF;
		border: 3px solid #999;
		padding: 6px 3px;
		max-width: 100%;
	}
	#txt_playername:focus {
		border-color: #2E2F41;
	}

#aCreatGame {
	margin: 1.0em 0;
}
	#a_creategame {
		color: #FFF;
	}
	
.blackCard {
	background-color: #00B6AD;
	border-radius: 0;
	color: #FFFFFF;
	font-weight: bold;
	font-size: 25px;
	line-height: 30px;
	padding: 20px 0;
}
	.blackCard p {
		display: block;
		margin-left: 72px;
		margin-bottom: 0;
		padding-right: 20px;
	}
	.blackCard:before{
		content: "Q:";
		display: block;
		float: left;
		font-size: 36px;
		line-height: 30px;
		text-align: center;
		width: 72px;
	}

#whiteCards, #selectedWhiteCards	{
	background: #FFF;
	color: #444;
	font-size: 18px;
	vertical-align: middle;
}
	.whiteCardItems {
		border-top: darkgray solid 3px;
		padding-top: 5px;
		padding-bottom: 5px;
	}

.alert {
	font-size: 16px;
}

a#logout {
	background: #F06050;
	border-radius: 1.5em;
	border: 3px solid #D43F3A;
	float: right;
	padding: 6px 12px;
	margin-left: 20px;
	margin-top: -9px;
}
	a#logout:hover {
		border-color: #AC2925;
	}
