@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);
html,
body,
.st-container,
.st-pusher,
.st-content {
	height: 100%;
	min-height: 100vh;
	height: 100vh;
	overflow-x: hidden;
}

body {
	color: #444;
	font-family: "Montserrat", Helvetica, Arial, sans-serif;
}

a {
	text-decoration: none;
	color: #00948A;
	outline: none;
}

a:hover, a:focus {
	color: #8FD7CF;
	outline: none;
}

em {
	font-weight: bold;
	font-style: normal;
}

/* Clearfix hack by Nicolas Gallagher: http://nicolasgallagher.com/micro-clearfix-hack/ */
.clearfix:before,
.clearfix:after {
	display: table;
	content: " ";
}

.clearfix:after {
	clear: both;
}

.hidden {
	display: none;
}

.progress-bar {
	background-color: #00B6AD;
}

/* Override bootstrap default styles for buttons */
.btn {
	border-radius: 1.5em;
	border-width: 3px;
}
	.btn-normal {
		font-size: 1.0em;
	}
	.btn-primary {
		border-color: #00948A;
		background-color: #00B6AD;
	}
	.btn-primary:hover,
	.btn-primary:active,
	.btn-primary:focus {
		background-color: #00948A;
		border-color: #005A55;
		outline: none;
	}

.progress,
.well,
.list-group-item {
	background: rgba(0, 0, 0, 0.05);
}

button.show-menu {
	background: #2E2F41;
	border: none;
	color: #fff;
	cursor: pointer;
	display: inline-block;
	font-family: 'Montserrat', Calibri, Arial, sans-serif;
	font-size: 2em;
	letter-spacing: 1px;
	margin: 3px 2px;
	padding: 0.25em 0.5em;
	position: fixed;
		top: 0;
	text-transform: uppercase;
	transition: background 0.3s ease;
}

button.show-menu:hover {
	background: #00b6ad;
}

#app-container {
	margin: 0 auto;	
}

.pageLobby #app-container {
}
	.pageLobby #app-container em {
		color: #2E2F41;
	}
	#intro {
		color: #888;
		font-size: 2em;
		line-height: 1.3;
		margin: 0.25em 0 1.0em;
	}
	#intro h1 {
		margin: 0;
		font-weight: 700;
	}
		#intro h1 span.subtitle {
			color: #E6E6E6;
			display: block;
			font-size: 0.5em;
		}
	#intro h2 {
		font-size: 1.0em;
		font-weight: 700;
		margin-top: 1.75em;
	}
	#intro p {
		font-size: 0.5em;
	}
	#intro #instructions {
		display: block;
		margin-bottom: 1em;
	}
	#txt_playername {
		background: #FFF;
		border: 0.15em solid #888;
		color: #2E2F41;
		font-size: 1.3em;
		font-weight: 700;
		max-width: 100%;
		padding: 6px 3px;
		transition: all 0.3s ease;
	}
	#txt_playername:focus {
		border-color: #2E2F41;
	}
	#intro .subtitle {
		color: #888;
		display: block;
		font-size: 0.5em;
		line-height: 1.25;
	}
	#intro .btn-sample {
		border-radius: 0;
		color: #888;
		display: inline;
		padding: 0;
	}

#aCreatGame {
	margin: 1.0em 0;
}
	#a_creategame {
		color: #FFF;
	}
	
#availableGames {
	
}


.blackCard {
	background-color: #00B6AD;
	border-radius: 0;
	color: #FFFFFF;
	font-weight: bold;
	font-size: 25px;
	line-height: 30px;
	padding: 20px 0;
}
	.blackCard p {
		display: block;
		margin-left: 72px;
		margin-bottom: 0;
		padding-right: 20px;
	}
	.blackCard:before{
		content: "Q:";
		display: block;
		float: left;
		font-size: 36px;
		line-height: 30px;
		text-align: center;
		width: 72px;
	}

#whiteCards,
#selectedWhiteCards,
#availableGames	{
	background: #FFF;
	border-radius: 4px;
	color: #444;
	font-size: 16px;
	vertical-align: middle;
	width: 100%;
}
	#availableGames li,
	#whiteCards tr,
	#selectedWhiteCards tr {
		border-bottom: 1px solid #EEE;
	}
		#availableGames li,
		#whiteCards td,
		#selectedWhiteCards td {
			padding: 5px 15px 5px 5px;
		}
	ul#availableGames > li:last-child,
	#whiteCards tr:last-child,
	#selectedWhiteCards tr:last-child {
		border-bottom: 0;
	}

a#logout {
	background: #890606;
}
	a#logout:hover {
		background: #F01A15;
	}


.guide-popup {
	background: rgba(0, 0, 0, 0.6);
	line-height: 1.5;
	padding: 2.0em 1.5em 1.0em;
	position: absolute;
		top: 0;
		left: 0;
	width: 100%;
	height: 100%;
	box-sizing: border-box;
	z-index: 110;
}
	.guide-popup .holder {
		background: #00B6AD;
		color: #FFF;
		padding: 20px;
		max-width: 600px;
		margin: 0 auto;
		max-height: 100%;
		overflow: auto;
	}
	.guide-popup a {
		color: #005A55;
	}
	.guide-popup a.btn {
		color: #FFF;
	}
	.guide-popup h1 {
		font-size: 1.5em;
	}

/* Media queries */

@media screen and (max-width: 64em) {
	.st-content {
	}
	#intro {
		font-size: 28px;
		margin-top: 0.25em;
	}
	#intro .subtitle {
		font-size: 16px;
	}
}

@media screen and (max-width: 768px) {
	#intro {
		font-size: 24px;
		margin: 0 auto 0.5em;
	}
	.col-menu-icon {
		z-index: 120;
	}
}
